<footer class="footer">
           
    <div class="footer">

        <div class="cointainer">

            <div class="footer-row">

                <div class="footer-links">
                    <h4>Compañia</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nuestros Servicios</a></li>
                        <li><a href="#">Politicas de Privacidad</a></li>
                        <li><a href="#">Nosotros</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                        <li><a href="#">Compras</a></li>
                        <li><a href="#">Envios</a></li>
                        <li><a href="#">Formas de Pago</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">Remeras</a></li>
                        <li><a href="#">Ropa Interior</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Accesorios</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h4>Síguenos</h4>
                    <div class="social-link">                           
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</footer>