<header>
    <div class="top-header">
        <div class="logo"> 
            <img src="images/Logo My Way.jpg" alt="Logo de My Way">
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p>Comprá en cuotas sin interés</p>
    </div>
    <nav>
        <ul class="items2">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/shopping-bag">Mis compras <i class="fa-solid fa-bag-shopping"></i>"</a></li>
        </ul>
    </nav>
</header>