<%- include("partials/head", title="¡Bienvenidos!")  %>
<body>
    <%- include("partials/header")  %>
    <main class="product container">
        <h2>Productos Destacadas</h2>
        <div class="box-cointainer" id="lista-1">

            <div class="box">
                <img src="images/pr1.jpg" alt="">
                <div class="product-txt">
                    <h3>Calza Deportiva Nike</h3>
                    <p>Exclente Calidad, Colores Varios</p>
                    <p>Talles: P aa GG</p>
                    <p class="precio">$5000</p>
                    <a href="#" class="agregar-carrito btn3" data-id="1">
                        Agregar al carrito</a>                        
                </div>
            </div>

            <div class="box">
                <img src="images/pr2.jpg" alt="">
                <div class="product-txt">
                    <h3>Calza Deportiva Nike</h3>
                    <p>Confeccionada con Franjas y Transparencias</p>
                    <p>Talles: P al GG</p>
                    <p class="precio">$6200</p>
                    <a href="#" class="agregar-carrito btn3" data-id="2">
                        Agregar al carrito</a>                        
                </div>
            </div>
            
            <div class="box">
                <img src="images/pr3.jpg" alt="">
                <div class="product-txt">
                    <h3>Short Casual Rose</h3>
                    <p>Confeccionado en Gabardina</p>
                    <p>Talles S / M / L / XL</p>
                    <p class="precio">$3500</p>
                    <a href="#" class="agregar-carrito btn3" data-id="3">
                        Agregar al carrito</a>                        
                </div>
            </div>

           <div class="box">
                <img src="images/pr4.jpg" alt="">
                <div class="product-txt">
                    <h3>Monitos Estampados</h3>
                    <p>Calidad Premium, Confeccionado en Fibrana</p>
                    <p>Talles S / M / L / XL</p>
                    <p class="precio">$7500</p>
                    <a href="#" class="agregar-carrito btn3" data-id="4">
                        Agregar al carrito</a>                        
                </div>
            </div>
        
            <div class="box">
                <img src="images/pr5.jpg" alt="">
                <div class="product-txt">
                    <h3>Pantalon Tiro Alto</h3>
                    <p>Confreccionado en Gabardina Premium</p>
                    <p>Talles: S / M / L / XL</p>
                    <p class="precio">$8200</p>
                    <a href="#" class="agregar-carrito btn3" data-id="5">
                        Agregar al carrito</a>                        
                </div>
            </div>

            <div class="box">
                <img src="images/pr6.jpg" alt="">
                <div class="product-txt">
                    <h3>Blazer de Bengalina</h3>
                    <p>Alta Calidad</p>
                    <p>Talles: del 2 al 7</p>
                    <p class="precio">$9500</p>
                    <a href="#" class="agregar-carrito btn3" data-id="6">
                        Agregar al carrito</a>                        
                </div>
            </div>

        </div>
            
        <div class="btn-2" id="load-mode">
            Cargar Mas</div>
    </main>
    
        <footer class="footer">
           
            <div class="footer">

                <div class="cointainer">

                    <div class="footer-row">

                        <div class="footer-links">
                            <h4>Compañia</h4>
                            <ul>
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Nuestros Servicios</a></li>
                                <li><a href="#">Politicas de Privacidad</a></li>
                                <li><a href="#">Nosotros</a></li>
                            </ul>
                        </div>

                        <div class="footer-links">
                            <h4>Ayuda</h4>
                            <ul>
                                <li><a href="#">Preguntas Frecuentes</a></li>
                                <li><a href="#">Compras</a></li>
                                <li><a href="#">Envios</a></li>
                                <li><a href="#">Formas de Pago</a></li>
                            </ul>
                        </div>

                        <div class="footer-links">
                            <h4>Tienda</h4>
                            <ul>
                                <li><a href="#">Remeras</a></li>
                                <li><a href="#">Ropa Interior</a></li>
                                <li><a href="#">Sport</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul>
                        </div>

                        <div class="footer-links">
                            <h4>Síguenos</h4>
                            <div class="social-link">                           
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </footer>
</body>
</html>
