<%- include("partials/head", title="Products")  %>
<body>
    <%- include("partials/header")  %>

   <main>
        <sectionc >
            <article class="producto">
                <img src="/images/Short Engomado.jpg" alt="">
                <div class="descripcionDeProducto"> 
                    <p class="nombreDelProducto">Short engomado <a class="precio-detail">$18000</a></p>
                    <p class="cuotas">6 CUOTAS SIN INTERES DE $3000</p>
                    <div class="opciones">
                        <p class="titulos-detail">SELECCIONAR TALLE </p>
                        <div>
                            <label for="talle">XS</label>
                            <input type="checkbox" name="talle" value="XS">
                            <label for="talle">S</label>
                            <input type="checkbox" name="talle" value="S">
                            <label for="talle">M</label>
                            <input type="checkbox" name="talle" value="M">
                            <label for="talle">L</label>
                            <input type="checkbox" name="talle" value="L">
                            <label for="talle">XL</label>
                            <input type="checkbox" name="talle" value="XL">
                            
                        </div>
                    </div>
                    <div class="opciones">
                        <p class="titulos-detail">COLOR</p>
                        <div>
                            <label for="color">AZUL</label>
                            <input type="checkbox" name="color" value="AZUL">
                            <label for="color">BLANCO</label>
                            <input type="checkbox" name="color" value="BLANCO">
                            <label for="color">ROJO</label>
                            <input type="checkbox" name="color" value="ROJO">
                            <label for="color">NEGRO</label>
                            <input type="checkbox" name="color" value="NEGRO">
                            <label for="color">GRIS</label>
                            <input type="checkbox" name="color" value="GRIS">
                        </div>
                    </div>   
                    <div class="boton-agregar-bolsa">
                        <button >Agregar a la bolsa</button>
                    </div>
                </div>
            </article>
          </section>
   </main>
    <footer class="footer">
           
            <div class="footer">
