<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/">
    <title>Register</title>
</head>
<body>
    */titulo de Registro
    */datos del usuario
    */nombre
    */apellido
    */direccion de email
    */contraseña 
    */repetir contraseña 
    */boton de registrarse con envio de datos al home
    */pequeña linea de "ya tengo una cuenta" que redireccione al Login
</body>
</html>
