*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header{
    background-color: #ccc;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header nav{
    display: none;
    font-size: 12px;
    margin-left: 20px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

main{
    width: 100%;
}

h1{
    text-align: center;
    text-decoration: underline solid 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eeeeee;
}

.selected-products{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    grid-row-gap: 25px;
    padding-bottom: 50px;
}

.selected-product{
    display: grid;
    grid-template-columns: 50% auto 15px;
    grid-gap: 0px;
    grid-row-gap: 0px;
}
.product_img{
    display: block;
    max-width: 100%;
    height: auto;
}

.description-article{
    padding-left: 10px;
}

.quantity{
    width: 50%;
}

.form-control{
    display: block;
    width: 100%;
    height: 20px;
    padding: 4px 18px;
    text-align: center;
    line-height: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remove{
    display: inline-block;
    align-self:baseline;
    border-color: transparent;
    background-color: transparent;
}

.remove-bag{
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

.subtotal-price{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    grid-row-gap: 20px;
}

.detail-right{
    font-size: 16px;
    text-align: right;
}

.installments-center{
    text-align: center;
}

.button-to-pay{
    font-size: 20px;
    color: #FFF;
    background-color: rgb(224, 46, 144);
    height: 34px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 4px 18px;
}

.button-to-buying{
    font-size: 20px;
    color: #FFF;
    background-color: black;
    height: 34px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 4px 18px;
}

/* REGISTRO - LOGING */

body {
    background-image: url("/images/Logo My Way.jpg");
    background-size: cover;
}
.form-registro { 
    width: 50%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;
}

h4 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    line-height: 40px;
    color: white;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-registro a{
    color: white;
    text-decoration: none;

}

.form-registro a:hover {
    color: white;
    text-decoration: underline;

}

.button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.button:hover {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-decoration: underline;
}

.form-login { 
    width: 50%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;
}

/* index - footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #eff3f4;
    padding: 130px 0 0 0;    
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #ce2194;
    text-transform: uppercase;
    font-weight: 800;    
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ce2194;
}

#menu {
    display: none;    
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.submenu {
    position: relative;    
}
.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}
.borrar {
    background-color: #ce2194;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 50px;    
}

span {  
    color: #ce2194;
    font-size: 40px;
    font-weight: 800;
    display: block;
    margin-bottom: 25px;    
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #515557;
    margin-bottom: 35px;    
}

.butons {
    display: flex;
}

.header-img {
    flex-basis: 100%;
    text-align: center;
}

.header-img img {
    height: 400px;
}

.products {
    padding: 0 0 40px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #111419;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #9bce21;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    background-color: #f5fafb;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    display: inline-block;
}

.box img {
    height: 420px;
}

.product-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 30px;
}

.product-txt p {
    margin-bottom: 25px;
    color: #515557;

}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: #ff9100 !important;
}

.btn-2, .btn-3 {
    background-color: #9bce21;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);    
}

.btn-2:hover, .btn-3:hover, .btn-1:hover {
    background-color: #13462E;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}


.footer {
    background-color: #24262b;
    padding: 80px;    
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;

}

.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.link h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #AEAFAF;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #9bce21;
}